<%- include('../includes/head.ejs') %>

  <style>
    table {
      width: 95%;
      margin: auto;
      border-collapse: collapse;
      border: 2px solid #ddd;
      font-size: 16px;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #84deb1;
    }

    tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tbody tr:hover {
      background-color: #e5e5e5;
    }

    .toggle {
      margin-bottom: 20px;
    }
  </style>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
      <main>
        <h2>List booking</h2>
        <div class="toggle">
          <button onclick="toggleAddBookingForm()">Add new booking</button>
          <div id="addUserForm" style="display: none">
            <form action="/api/booking" method="post">
              <input type="text" name="fullNameParent" placeholder="Enter name of parent:" />
              <input type="text" name="phoneNumber" placeholder="Enter phone number:" />
              <input type="email" name="email" placeholder="Enter email:" />
              <div>
                <input type="text" name="fullNameChildren" placeholder="Enter name of child:" />
              </div>
              <div>
                <label>Ngày sinh</label>
                <input type="date" name="dateOfBirth" />
              </div>
              <div class="form-group">
                <label style="margin-bottom: 5px;">Giới tính</label>

                <div class="form-check form-check-inline" style="margin-right: 10px;">
                  <input class="form-check-input" type="radio" name="gender" id="male" value="male" required>
                  <label class="form-check-label" for="male">Bé trai</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="female" value="female" required>
                  <label class="form-check-label" for="female">Bé gái</label>
                </div>
              </div>
              <div>
                <label>Ngày và giờ booking</label>
                <input type="date" name="dateBooking" />
                <input type="time" name="timeBooking" />
              </div>

              <input type="text" name="amountOfVisitor" placeholder="Enter amount of visitor:" />
              <input type="submit" />
            </form>
          </div>
        </div>
        <% if(bookings.length> 0) { %>
          <table>
            <thead>
              <tr>
                <th>No</th>
                <th>Họ và tên phụ huynh</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Họ và tên của bé</th>
                <th>Ngày sinh của bé</th>
                <th>Giới tính</th>
                <th>Ngày và giờ booking</th>
                <th>Số lượng bé tham dự</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% bookings.forEach((booking, index)=> { %>
                <tr>
                  <td>
                    <%= index + 1 %>
                  </td>
                  <td>
                    <%= booking.fullNameParent %>
                  </td>
                  <td>
                    <%= booking.phoneNumber %>
                  </td>
                  <td>
                    <%= booking.email %>
                  </td>
                  <td>
                    <%= booking.fullNameChildren %>
                  </td>
                  <td>
                    <%= booking.dateOfBirth.toLocaleDateString("en-US") %>
                  </td>
                  <td>
                    <%= booking.gender %>
                  </td>
                  <td>
                    <%= booking.dateBooking.toLocaleDateString("en-US")%>
                      <%= booking.timeBooking %>
                  </td>
                  <td>
                    <%= booking.amountOfVisitor %>
                  </td>
                  <td>
                    <%= booking.status %>
                  </td>
                  <td>
                    <button><a href="/edit/<%=booking._id %>" style="text-decoration: none">Update</a></button>
                    <button><a href="/delete/<%=booking._id%>" style="text-decoration: none">Delete</a></button>
                  </td>
                </tr>
                <% }); %>
            </tbody>
          </table>
      </main>
      <% } else { %>
        <p>No bookings found.</p>
        <% } %>

          <script>
            function toggleAddBookingForm() {
              var form = document.getElementById("addUserForm");
              form.style.display = form.style.display === "none" ? "block" : "none";
            }
          </script>
  </body>